<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.bankBook.BankBookDAO">
  	<select id="getTotal" resultType="Long">
  		SELECT COUNT(BOOKNUM) FROM BANKBOOK
  	</select>
  	
  	
  	
  	
  
  	<select id="getList" parameterType="com.iu.main.util.Pager" resultType="BankBookDTO">
		 SELECT BOOKNUM,BOOKNAME,BOOKRATE,BOOKSALE FROM 
			(
				SELECT ROWNUM R,B.*
				FROM BANKBOOK B
				ORDER BY BOOKNUM DESC
			) S
		WHERE S.R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  
	<select id="getDetail" resultMap="getDetailResult"  parameterType="BankBookDTO">
		SELECT BB.*,BF.*
			FROM BANKBOOK BB 
			LEFT OUTER JOIN BANKFILE BF
			ON BB.BOOKNUM = BF.BOOKNUM
			WHERE BB.BOOKNUM = #{bookNum}
	</select>
	
	<resultMap type="BankBookDTO" id="getDetailResult">
		<id column="BOOKNUM" property="bookNum"/>
		<result column="BOOKNAME" property="bookName"/>
		<result column="BOOKCONTENTS" property="bookContents"/>
		<result column="BOOKRATE" property="bookRate"/>
		<result column="BOOKSALE" property="bookSale"/>
		
		<collection property="fileDTOs" javaType="java.util.List" ofType="BankFileDTO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORIGINALNAME" property="originalName"/>
		</collection>
	</resultMap>
	
	<insert id="setFileAdd" parameterType="BankFileDTO">
  		INSERT INTO BANKFILE (FILENUM,BOOKNUM,ORIGINALNAME,FILENAME) VALUES (BANKFILE_SEQ.NEXTVAL,#{bookNum},#{originalName},#{fileName})
  	</insert>
  	
	<select id="getSequence" resultType="Long">
  		SELECT BANKFILE_SEQ.NEXTVAL FROM DUAL
  	</select>
	
	<insert id="setAdd" parameterType="BankBookDTO">
		<selectKey keyProperty="bookNum" resultType="Long" order="BEFORE">
			SELECT BANKFILE_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO BANKBOOK VALUES (#{bookNum},#{bookName},#{bookRate},#{bookSale},#{bookContents})
	</insert>
	
	<delete id="setDelete" parameterType="Long">
		DELETE BANKBOOK WHERE BOOKNUM=#{num}
	</delete>
	
	<delete id="setUpdate" parameterType="BankBookDTO">
		UPDATE BANKBOOK SET BOOKNAME=#{bookName},BOOKRATE=#{bookRate},BOOKCONTENTS=#{bookContents},BOOKSALE=#{bookSale}
		WHERE BOOKNUM=#{bookNum}
	</delete>
  </mapper>