<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.board.notice.NoticeDAO">
  	<select id="getTotal" resultType="Long">
  		SELECT COUNT(NOTICENUM) FROM NOTICE
  	</select>
  	
  	<select id="getList" resultMap="getDetailResult" parameterType="NoticeDTO">
  		SELECT NOTICENUM,SUBJECT,CONTENTS,NAME,CREATEDATE,HIT FROM 
			(
				SELECT ROWNUM R,N.*
				FROM NOTICE N
				ORDER BY noticeNum DESC
			) S
		WHERE S.R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	
  	
  	
  	<select id="getDetail" resultMap="getDetailResult" parameterType="NoticeDTO">
	<!-- 	SELECT NT.*,NF.*
		FROM NOTICE NT
		LEFT OUTER JOIN NOTICEFILE NF
		ON (NT.NOTICENUM = NF.NOTICENUM)
		WHERE NT.NOTICENUM = #{num} -->	
		
		SELECT 
  			* 
  		FROM
  			NOTICE N
  			LEFT JOIN
  			NOTICEFILE NF
  			ON N.NOTICENUM=NF.NOTICENUM
  		WHERE
  			N.NOTICENUM=#{num}	
  	</select>
  	
  	<resultMap type="NoticeDTO" id="getDetailResult">
  		<id column="NOTICENUM" property="num"/>
  		<result column="SUBJECT" property="subject"/>
  		<result column="CONTENTS" property="contents"/>
  		<result column="NAME" property="name"/>
  		<result column="CREATEDATE" property="createDate"/>
  		<result column="HIT" property="hit"/>
  		
  		<collection property="fileDTOs" javaType="java.util.List" ofType="NoticeFileDTO">
  			<id column="FILENUM" property="fileNum"/>
  			<result column="FILENAME" property="fileName"/>
  			<result column="ORIGINALNAME" property="originalName"/>
  		</collection>
  	</resultMap>
  	
  	<insert id="setFileAdd" parameterType="NoticeFileDTO">
  		INSERT INTO NOTICEFILE (FILENUM,NOTICENUM,ORIGINALNAME,FILENAME) VALUES (NOTICEFILE_SEQ.NEXTVAL,#{noticeNum},#{originalName},#{fileName})
  	</insert>
  	
	<select id="getSequence" resultType="Long">
  		SELECT NOTICEFILE_SEQ.NEXTVAL FROM DUAL
  	</select>
	
	<insert id="setAdd" parameterType="NoticeDTO">
		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO NOTICE VALUES (#{num},#{subject},#{contents},#{name},sysdate,0)
	</insert>
  	
  	<update id="setUpdate" parameterType="NoticeDTO">
		UPDATE NOTICE SET SUBJECT=#{subject}, CREATEDATE=#{createDate}, CONTENTS=#{contents} WHERE NOTICENUM=#{num}  	
  	</update>
  	
  	<delete id="setDelete" parameterType="NoticeDTO">
  		DELETE NOTICE WHERE NOTICENUM=#{num}
  	</delete>
  	
  	<update id="setHitCount" parameterType="NoticeDTO">
  		UPDATE NOTICE SET HIT=HIT+1 WHERE NOTICENUM=#{num}
  	</update>
  	
  	<delete id="setFileDelete" parameterType="NoticeFileDTO">
  		DELETE NOTICEFILE WHERE FILENUM=#{fileNum}
  	</delete>
  </mapper>