<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.notice.NoticeDAO">
  	<select id="getTotal" resultType="Long">
  		SELECT COUNT(NO) FROM NOTICE
  	</select>
  	
  	<select id="getList" resultType="NoticeDTO">
  		SELECT NO,SUBJECT,CONTENTS,NAME,CREATEDATE,HIT FROM 
			(
				SELECT ROWNUM R,N.*
				FROM NOTICE N
				ORDER BY NO DESC
			) S
		WHERE S.R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<insert id="setAdd" parameterType="NoticeDTO">
  		INSERT INTO NOTICE VALUES(NOTICE_SEQ.NEXTVAL,#{subject},#{contents},#{name},SYSDATE,0)
  	</insert>
  	
  	<select id="getDetail" resultType="NoticeDTO" parameterType="NoticeDTO">
		SELECT * FROM NOTICE WHERE NO=#{no}  	
  	</select>
  	
  	<update id="setUpdate" parameterType="NoticeDTO">
		UPDATE NOTICE SET SUBJECT=#{subject}, CREATEDATE=#{createDate}, CONTENTS=#{contents} WHERE NO=#{no}  	
  	</update>
  	
  	<delete id="setDelete" parameterType="NoticeDTO">
  		DELETE NOTICE WHERE NO=#{no}
  	</delete>
  	
  	<update id="setHitCount" parameterType="NoticeDTO">
  		UPDATE NOTICE SET HIT=HIT+1 WHERE NO=#{no}
  	</update>
  </mapper>